body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #888794;
}

/* font-family: 'Playfair Display', serif; */

.container {
    max-width: 1420px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    color: #757AA5;
}

/* HEADER */

.header {
    padding-top: 12px;
    padding-bottom: 21px;
    background-color: #EDECF7;
    margin-bottom: 128px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__link {
    text-decoration: none;
    margin-right: 40px;
}

.header__menu {
    margin-right: auto;
}

.header__menu-list {
    display: flex;
    gap: 10px;
}

.header__menu-link {
    padding: 25px 15px;
    text-decoration: none;
    color: #515076;
    opacity: 0.5;
    font-size: 16px;
    line-height: 25px;
    border-radius: 3px;
    transition: background-color .7s, opacity .7s;
}

.header__menu-link:hover {
    background-color: rgba(81, 80, 118, 0.1);
    opacity: 1;
}

.header__cart {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart::before {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    right: -6px;
    padding-top: 2px;
    background: #757AA5;
    border-radius: 50%;
    content: '1';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
}

.header__socia-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__social-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    color: #515076;
    text-decoration-color: transparent;
    transition: text-decoration-color .7s;
}

.header__social-item-link:hover {
    text-decoration-color: #515076;
}

/* PROMO */

.promo {
    position: relative;
    margin-bottom: 576px;
}

.promo::before {
    position: absolute;
    z-index: -1;
    top: 500px;
    left: 0;
    width: 818px;
    height: 648px;
    content: '';
    background-image: url(../img/promo-before.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.promo::after {
    position: absolute;
    z-index: -1;
    top: -128px;
    right: 0;
    width: 837px;
    height: 963px;
    content: '';
    background-image: url(../img/promo-after.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.promo__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 230px;
    line-height: 92.4%;
    display: flex;
    align-items: center;
    color: #515076;
    margin-bottom: 60px;
}

.promo__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 1090px;
    flex-wrap: wrap;
    gap: 100px;
}

.promo__item {
    max-width: 390px;
}

.promo__subtitle {
    max-width: 255px;
    font-size: 36px;
    line-height: 132.67%;
    color: #63678C;
    margin-top: 30px;
    margin-bottom: 555px;
}

.promo__text b{
    font-weight: 700;
    color: #8888A8;
}

.promo__btn {
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: block;
    width: 270px;
    padding: 27px 10px;
    border: 2px solid #515076;
    margin-left: auto;
    margin-right: auto;
    background-color: #515076;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.32em;
    color: #FFFFFF;
    opacity: 0.9;
    transition: color .5s;
}

.promo__btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff;
    transition: width .5s;
    border-radius: 100px;
    z-index: -1;
}

.promo__btn:hover {
    color: #515076;
}

.promo__btn:hover::before {
    width: 100%;
}

.promo__details {
    margin-top: 536px;
    margin-left: auto;
    max-width: 172px;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.promo__details small {
    font-size: 37px;
    font-weight: 200;
}

.promo__disclaimer {
    font-weight: 300;
    font-size: 36px;
    line-height: 109.4%;
    color: #757AA5;
}

@keyframes promo-opacity1 {
    0% { opacity: 0; }
    3.3% { opacity: 1; }
    29.7% { opacity: 1; }
    33% { opacity: 0; }
}
@keyframes promo-opacity2 {
    33% { opacity: 0; }
    36.6% { opacity: 1; }
    62.7% { opacity: 1; }
    66% { opacity: 0; }
}
@keyframes promo-opacity3 {
    66% { opacity: 0; }
    69.9% { opacity: 1; }
    95.7% { opacity: 1; }
    99% { opacity: 0; }
}

.promo__gallery-img {
    position: absolute;
    z-index: -1;
    bottom: -1000px;
    right: 0;
    opacity: 0;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -2;
}

.promo__gallery-img:nth-of-type(1) {
    animation-name: promo-opacity1;
}

.promo__gallery-img:nth-of-type(2) {
    animation-name: promo-opacity2;
}

.promo__gallery-img:nth-of-type(3) {
    animation-name: promo-opacity3;
}

/* CATALOGUE */

.catalogue {
    position: relative;
    margin-bottom: 180px;
}

.catalogue::before {
    position: absolute;
    z-index: -1;
    top: -269px;
    left: 0;
    width: 900px;
    height: 811px;
    content: '';
    background-image: url(../img/cat-decor.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.catalogue__title {
    margin-bottom: 80px;
    text-align: center;
}

.catalogue__list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}

.catalogue__item {
    position: relative;
    width: 329px;
    min-height: 521px;
    padding: 62px 20px 55px;
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
    background-color: #F7F7FA;
}
.catalogue__item:nth-child(2) {
    padding: 69px 20px 55px;
    width: 380px;
    min-height: 600px;
}
.catalogue__item:nth-child(2)::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 67px;
    height: 67px;
    content: '';
    background-image: url(../img/sale.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.catalogue__item-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 244px;
    margin-bottom: 18px;
}
.catalogue__item:nth-child(2) .catalogue__item-img {
    height: 325px;
}
.catalogue__item-purpose {
    padding-left: 18px;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-bottom: 20px;
}
.catalogue__item-name {
    padding-left: 18px;
    margin-bottom: 40px;
}
.catalogue__item-price {
    position: relative;
    padding-left: 18px;
    font-weight: 500;
    font-size: 24px;
    line-height: 135.99%;
}
.catalogue__item:nth-child(2) .catalogue__item-price::before {
    bottom: 0;
    content: '3 750';
    padding-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 135.99%;
    text-decoration: line-through;
    color: rgba(81, 80, 118, 0.6);
}
.catalogue__item-cart {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    right: 27px;
    bottom: 45px;
}

/* SALE */

.sale {
    margin-bottom: 270px;
}

.sale__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    max-height: 570px;
    flex-wrap: wrap;
}

.sale__title {
    margin-bottom: 100px;
}

.sale__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 199.99%;
    max-width: 333px;
    margin-bottom: 120px;
}

.sale__controls {
    display: flex;
    gap: 19px;
}

.sale__controls-left,
.sale__controls-right {
    cursor: pointer;
}

.sale__controls-left .sale__controls-img {
    transform: rotate(-180deg);
}

.sale__controls-img {
    cursor: pointer;
    opacity: 0.4;
    transition: opacity .7s;
}

.sale__controls-left:hover .sale__controls-img,
.sale__controls-right:hover .sale__controls-img {
    opacity: 1;
}

.sale__slider {
    counter-reset: sale-counter;
    margin-left: auto;
    overflow: hidden;
}

.sale__slider-item {
    position: relative;
    width: 810px;
    height: 521px;
    margin-left: 40px;
    margin-bottom: 40px;
    box-shadow: -40px 40px 0px #515076;
}

.sale__slider-item::before {
    position: absolute;
    content: 'для нормальной кожи';
    font-weight: 500;
    font-size: 13px;
    line-height: 199.99%;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #fff;
    transform: rotate(-90deg);
    bottom: 107px;
    left: -133px;
}

.sale__slider-item-inner {
    position: absolute;
    width: 810px;
    height: 521px;
    padding-left: 62px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #F7F7FA;
    z-index: -1;
    opacity: 0;
    transition: opacity .7s;
}

.sale__slider-item-inner.active {
    z-index: 1;
    opacity: 1;
}

.sale__slider-item-title {
    position: relative;
    max-width: 337px;
    margin-top: 148px;
    font-weight: 300;
    font-size: 30px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #4C5072;
    margin-bottom: 30px;
}

.sale__slider-item-title::before {
    position: absolute;
    width: 62px;
    height: 62px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 109.4%;
    border-radius: 50%;
    top: -90px;
    padding-top: 22px;
    counter-increment: sale-counter;
    content: '0' counter(sale-counter);
    background: #EDECF7;
    color: #515076;
}

.sale__slider-item-text {
    max-width: 433px;
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
}

.sale__slider-item-img {
    height: 500px;
    position: relative;
    z-index: 0;
    margin-left: -130px;
}

/* STACK */

.stack {
    position: relative;
    margin-bottom: 340px;
}

.stack::before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 1083px;
    height: 1424px;
    top: -590px;
    background-image: url(../img/stack-decor.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.stack__list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 35px;
}

.stack__item {
    position: relative;
    width: 350px;
    background: #F7F7FA;
}

.stack__item-sale {
    font-size: 36px;
    line-height: 135.99%;
    text-align: center;
    color: #515076;
    background: rgba(81, 80, 118, 0.15);
}

.stack__item:nth-child(1) .stack__item-sale {
    padding: 25px 15px;
    font-weight: 400;
    margin-bottom: 7px;
}

.stack__item:nth-child(2) .stack__item-sale {
    padding: 50px 15px;
    font-weight: 500;
    margin-bottom: 57px;
}

.stack__item:nth-child(3) .stack__item-sale {
    padding: 75px 15px;
    font-weight: 600;
    margin-bottom: 107px;
}

.stack__item-img {
    width: 350px;
    margin-bottom: 10px;
}

.stack__item-text {
    margin: 0 40px 45px;
}

.stack__item-price {
    position: relative;
    display: block;
    margin: 0 40px 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 135.99%;
    color: rgba(81, 80, 118, 0.8);
}

.stack__item-price::before {
    bottom: 0;
    padding-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 135.99%;
    text-decoration: line-through;
    color: rgba(81, 80, 118, 0.6);
}

.stack__item:nth-child(1) .stack__item-price::before {
    content: '5000';
}

.stack__item:nth-child(2) .stack__item-price::before {
    content: '4400';
}

.stack__item:nth-child(3) .stack__item-price::before {
    content: '9400';
}

.stack__item .catalogue__item-cart {
    bottom: 27px;
}

/* STATISTICS */

.statistics {
    position: relative;
    margin-bottom: 125px;
    min-height: 1023px;
    background-color: #EDECF6;
    background-image: url(../img/stat.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.statistics::before {
    position: absolute;
    content: 'Diamaint';
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 330px;
    line-height: 92.4%;
    text-align: center;
    width: 100%;
    top: -215px;
    color: #D6D4E7;
}

.statistics::after {
    position: absolute;
    content: '';
    width: 638px;
    height: 1196px;
    top: 191px;
    right: 0;
    background-image: url(../img/stat-decor.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.statistics__inner {
    position: relative;
    z-index: 2;
    width: 462px;
    padding-top: 247px;
    margin-left: auto;
}

.statistics__title {
    width: 350px;
    font-weight: 500;
    font-size: 16px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-bottom: 30px;
}

.statistics__data {
    font-weight: 300;
    font-size: 120px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #515076;
}

.statistics__data-gender {
    font-weight: 200;
    font-size: 70px;
    margin-bottom: 61px;
}

/* USEFUL */

.useful {
    margin-bottom: 144px;
}

.useful__title {
    text-align: center;
    margin-bottom: 80px;
}

.useful__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 900px;
    width: 960px;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

.useful__item {
    position: relative;
    z-index: 2;
    padding: 36px 20px 50px 47px;
    background-color: #F7F7FA;
    border-top: 6px solid #515076;
    width: 300px;
    min-height: 406px;
}

.useful__item:nth-child(1) {
    margin-top: 210px;
}

.useful__item:nth-child(4) {
    margin-top: 120px;
}

.useful__item-subtitle {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%; 
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-bottom: 19px;
}

.useful__item-title {
    font-size: 20px;
    line-height: 135.99%;
    color: #515076;
    margin-bottom: 29px;
}

.useful__item-text {
    font-size: 14px;
    line-height: 180%;
    margin-bottom: 83px;
}

.useful__item-link {
    position: relative;
    text-decoration-color: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 199.99%;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #515076;
    transition: text-decoration-color .7s;
}

/* AUTHORS */

.authors__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #fafafa;
}

.authors__inner::before {
    position: absolute;
    width: 48%;
    height: 514px;
    top: 0;
    left: 0;
    content: '';
    background-color: #fff;
}

.authors__inner::before {
    position: absolute;
}

.authors__info {
    position: relative;
    width: 665px;
}

.authors__title {
    position: relative;
    z-index: 2;
    width: 360px;
    margin-bottom: 93px;
}

.authors__name {
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 20px;
    line-height: 199.99%;
    color: #515076;
    margin-bottom: 35px;   
}

.authors__text {
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 40px;
}

.authors__quote {
    position: relative;
    z-index: 2;
    margin-left: 67px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 63px;
}

.authors__quote::before {
    position: absolute;
    left: -50px;
    content: '“';
    font-weight: 700;
    font-size: 60px;
}

.authors__gallery {
    display: flex;
    gap: 60px;
}

.authors__min-img {
    cursor: pointer;
    width: 153px;
    filter: drop-shadow(0px -6px 0px #515076);
    opacity: 0.5;
    transition: opacity .7s;
}

.authors__min-img:hover {
    opacity: 1;
}

.authors__image {
    position: relative;
}

.authors__image::before {
    position: absolute;
    width: 399px;
    height: 399px;
    bottom: 387px;
    left: -280px;
    content: '';
    background-image: url(../img/author-decor.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.authors__image-img {
    position: relative;
    z-index: 1;
    margin-right: 79px;
    max-width: 603px;
}

/* FOOTER */

.footer {
    position: relative;
    background-image: url(../img/footer-bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 228px;
    padding-bottom: 301px;
}
.footer::before {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    content: '';
    background: linear-gradient(#fff, transparent);
}

.footer__inner {
    padding-top: 50px;
    padding-left: 80px;
    width: 531px;
    background-color: #fff;
    box-shadow: 0px -6px 0px #515076;
}

.footer__title {
    margin-bottom: 33px;
}

.footer__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    color: inherit;
    text-decoration-color: transparent;
    transition: text-decoration-color .7s;
}

.footer__link:hover {
    text-decoration-color: inherit;
}

.footer__address {
    font-weight: 500;
    font-size: 16px;
    line-height: 199.99%;
    margin-bottom: 40px;
}

.footer__social-list {
    display: flex;
    gap: 15px;
    padding-bottom: 70px;
}