body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #888794;
}

/* font-family: 'Playfair Display', serif; */

.container {
    max-width: 1420px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-weight: 200;
    font-size: 70px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    color: #757AA5;
}

/* HEADER */

.header {
    padding-top: 12px;
    padding-bottom: 21px;
    background-color: #EDECF7;
    margin-bottom: 128px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__link {
    text-decoration: none;
}

.header__logo {
    margin-right: 70px;
}

.header__menu {
    margin-right: auto;
}

.header__menu-list {
    display: flex;
    gap: 10px;
}

.header__menu-link {
    padding: 25px 15px;
    text-decoration: none;
    color: #515076;
    opacity: 0.5;
    font-size: 16px;
    line-height: 25px;
    border-radius: 3px;
    transition: background-color .7s, opacity .7s;
}

.header__menu-link:hover {
    background-color: rgba(81, 80, 118, 0.1);
    opacity: 1;
}

.header__cart {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart::before {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    right: -6px;
    padding-top: 2px;
    background: #757AA5;
    border-radius: 50%;
    content: '1';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
}

.header__socia-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__social-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    color: #515076;
    text-decoration-color: transparent;
    transition: text-decoration-color .7s;
}

.header__social-item-link:hover {
    text-decoration-color: #515076;
}

/* PROMO */

.promo {
    position: relative;
    margin-bottom: 576px;
}

.promo::before {
    position: absolute;
    z-index: -1;
    top: 500px;
    left: 0;
    width: 818px;
    height: 648px;
    content: '';
    background-image: url(../img/promo-before.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.promo::after {
    position: absolute;
    z-index: -1;
    top: -128px;
    right: 0;
    width: 837px;
    height: 963px;
    content: '';
    background-image: url(../img/promo-after.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.promo__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 230px;
    line-height: 92.4%;
    display: flex;
    align-items: center;
    color: #515076;
    margin-bottom: 60px;
}

.promo__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-height: 1090px;
    flex-wrap: wrap;
    gap: 100px;
}

.promo__item {
    max-width: 390px;
}

.promo__subtitle {
    max-width: 255px;
    font-size: 36px;
    line-height: 132.67%;
    color: #63678C;
    margin-top: 30px;
    margin-bottom: 555px;
}

.promo__text b{
    font-weight: 700;
    color: #8888A8;
}

.promo__btn {
    display: block;
    width: 270px;
    padding: 27px 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #515076;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.32em;
    color: #FFFFFF;
    opacity: 0.9;
}

.promo__details {
    margin-top: 536px;
    margin-left: auto;
    max-width: 172px;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.promo__details small {
    font-size: 37px;
    font-weight: 200;
}

.promo__disclaimer {
    font-weight: 300;
    font-size: 36px;
    line-height: 109.4%;
    color: #757AA5;
}

@keyframes promo-opacity1 {
    0% { opacity: 0; }
    3.3% { opacity: 1; }
    29.7% { opacity: 1; }
    33% { opacity: 0; }
}
@keyframes promo-opacity2 {
    33% { opacity: 0; }
    36.6% { opacity: 1; }
    62.7% { opacity: 1; }
    66% { opacity: 0; }
}
@keyframes promo-opacity3 {
    66% { opacity: 0; }
    69.9% { opacity: 1; }
    95.7% { opacity: 1; }
    99% { opacity: 0; }
}

.promo__gallery-img {
    position: absolute;
    z-index: -1;
    bottom: -1000px;
    right: 0;
    opacity: 0;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -2;
}

.promo__gallery-img:nth-of-type(1) {
    animation-name: promo-opacity1;
}

.promo__gallery-img:nth-of-type(2) {
    animation-name: promo-opacity2;
}

.promo__gallery-img:nth-of-type(3) {
    animation-name: promo-opacity3;
}